Source: qd
Section: libs
Priority: optional
Maintainer: Debian Science Maintainers <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Christophe Prud'homme <prudhomm@debian.org>
Build-Depends: cdbs, debhelper (>= 7), quilt, autotools-dev, g++ (>= 4.1), gfortran (>= 4.1), automake, autoconf, libtool
Standards-Version: 3.9.1
Homepage: http://crd.lbl.gov/~dhbailey/mpdist/
Vcs-Svn: svn://svn.debian.org/svn/debian-science/packages/qd/trunk
Vcs-Browser: http://svn.debian.org/wsvn/debian-science/packages/qd/trunk

Package: libqd-dev
Section: libdevel
Architecture: any
Depends: libqd0 (= ${binary:Version}), ${misc:Depends}
Description: Double-double and quad double types in C++ and F90
 This package supports both a double-double datatype (approx. 32
 decimal digits) and a quad-double datatype (approx. 64 decimal
 digits). The computational library is written in C++. Both C++ and
 Fortran-90 high-level language interfaces are provided to permit one
 to convert an existing C++ or Fortran-90 program to use the library
 with only minor changes to the source code.

Package: libqd0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: libqd2c2a
Conflicts: libqd2c2a
Description: Double-double and quad double types in C++ and F90
 This package supports both a double-double datatype (approx. 32
 decimal digits) and a quad-double datatype (approx. 64 decimal
 digits). The computational library is written in C++. Both C++ and
 Fortran-90 high-level language interfaces are provided to permit one
 to convert an existing C++ or Fortran-90 program to use the library
 with only minor changes to the source code.
