Source: qd
Section: libs
Priority: optional
Maintainer: Debian Scientific Computing Team <pkg-scicomp-devel@lists.alioth.debian.org>
Uploaders: Christophe Prud'homme <prudhomm@debian.org>
Build-Depends: cdbs (>= 0.4.23-1.1), debhelper (>= 7), quilt,
 autotools-dev, g++ (>= s4.1), gfortran (>= 4.1), automake, autoconf, libtool
Standards-Version: 3.8.2
Homepage: http://crd.lbl.gov/~dhbailey/mpdist/
Vcs-Svn: svn://svn.debian.org/svn/pkg-scicomp/qd/trunk/
Vcs-Browser: http://svn.debian.org/wsvn/pkg-scicomp/qd/

Package: libqd-dev
Section: libdevel
Architecture: any
Depends: libqd2c2a, ${misc:Depends}
Description: Double-double and quad double types in C++ and F90
 This package supports both a double-double datatype (approx. 32
 decimal digits) and a quad-double datatype (approx. 64 decimal
 digits). The computational library is written in C++. Both C++ and
 Fortran-90 high-level language interfaces are provided to permit one
 to convert an existing C++ or Fortran-90 program to use the library
 with only minor changes to the source code.

Package: libqd2c2a
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: libqd2.1.142c2a, libqd2.1.200
Conflicts: libqd2.1.142c2a, libqd2.1.200
Description: Double-double and quad double types in C++ and F90
 This package supports both a double-double datatype (approx. 32
 decimal digits) and a quad-double datatype (approx. 64 decimal
 digits). The computational library is written in C++. Both C++ and
 Fortran-90 high-level language interfaces are provided to permit one
 to convert an existing C++ or Fortran-90 program to use the library
 with only minor changes to the source code.
